body {
    background-color: #f5f7fa;
  }

/* This is for the hero background */
.bg-image {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 35vh;
}

.cnt-card{
  border-radius: 50px;
}


/* This creates a scroll bar which includes LOADS of data structured in a nice box */
.card-text {
  height: 10em;
  overflow: auto;
}

#Broc-image {
  padding-top:10%;
  width: 20em; 
  height:20em; 
  padding-bottom:10%;

}

#Avocado-img{
  padding-top:10%;
  width: 20em; 
  height:20em; 
  padding-bottom:10%;
}


.container{

font-size: 25px;
color: green;

}

.h3{ 
text-align: left;

}

