body {
  background-image: url('../images/body\ background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

/* This is for the hero background */
.bg-image {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 35vh;
}

.cnt-card{
  border-radius: 50px;
}


/* This creates a scroll bar which includes LOADS of data structured in a nice box */
.card-text {
  height: 10em;
  overflow: auto;
}
