body {
    background-color: #f5f6fa;
  }

/* This is for the hero background */
.bg-image {
    background-image: url('../images/hero.jpg');
   
    background-size: cover;
    height: 35vh;
}

.cnt-card{
  border-radius: 50px;
}


/* This creates a scroll bar which includes LOADS of data structured in a nice box */
.card-text {
  height: 10em;
  overflow: auto;
}

#Broc-image {
  padding-top:10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
  width: 20em; 
  height:20em; 
  background-color: rgb(68, 159, 129);
  font-weight: bolder;
  
}

#Avocado-img{
  background-color: rgb(68, 159, 129);
  padding-top:10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left:10%;
  width: 20em; 
  height:20em; 
 
  
  /* position: relative; */
  
}


.container{

font-size: 25px;
color: green;

}

/* .h3{ 
text-align: left;

} */

.row{

display: flex;


}

.col-4{

  display: flex;
}